[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = git@github.com:catppuccin/tmux.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
