# Stuff from other systems that I don't need
jgit
configstore
containers
1Password
BraveSoftware
autostart
chromium
dconf
evolution
falkon
gnome-session
goa-1.0
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-3.0
gtk-4.0
ibus
microsoft-edge-dev
nautilus
neofetch
obsidian
pamac
pulse
qt5ct
qt6ct
touchegg
vivaldi
vivaldi-snapshot
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
gnome-layout-switcher.conf
manjaro-hello.json
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
Signal
spotify
discord
Electron
zed
FreeCAD
OpenSCAD
BambuStudio
gthumb
qmk
kicad
systemd
QtProject.conf
appimagelauncher.cfg
